$font-main: 'Roboto', sans-serif;
$font-secundary: 'Raleway', sans-serif;
$font-size: 16px;
$font-color: #fff;
$first-color: #2279d7;
$second-color: #25c9ff;
$third-color: #d24f56;
$fourth-color: #fa8086;
$error-color: #e80808;
$alert-color: #e8e808;
$success-color: #070;
@import './tools/tools';
