mixin headExtraTags()
  //- Allows control over how referrer information is passed
  <meta name="referrer" content="no-referrer">
  //- Disable automatic detection and formatting of possible phone numbers
  //- Desactivar la detección automática de números de teléfono
  <meta name="format-detection" content="telephone=no">
  //- Desactivar la detección automática de emails
  <meta name="format-detection" content="email=no">
  //- Desactivar la detección automática de direcciones postales
  <meta name="format-detection" content="address=no">
