mixin headMicrosoftTags()
  //- Force IE 8/9/10 to use its latest rendering engine
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  //- Disable automatic detection and formatting of possible phone numbers by Skype Toolbar browser extension
  <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
