mixin imgMetaForOpenGraph(property, baseOpenGraphImage)
  meta(property=property, content=`${publicPath.url || publicPath.full}${baseOpenGraphImage}`)

mixin headOpenGraphTags(publicPath, baseOpenGraphImage1200x1200, baseOpenGraphImage1200x640)
  //- Open graph - Tags required
  meta(property="og:title" content="Devexteam")
  meta(property="og:type" content="website")
  meta(property="og:url" content=publicPath.full)
  //- Recommend: 1200x1200
  +imgMetaForOpenGraph("og:image", baseOpenGraphImage1200x640)
  meta(meta property="og:image:width", content="1200")
  meta(meta property="og:image:height", content="640")
  //- Open graph
  meta(property="og:description" content="Software, tecnología")
  meta(property="og:site_name" content="Devexteam")
  meta(property="og:type" content="website")
  meta(property="og:locale" content="es_MX")
  meta(property="article:author" content="Devexteam")
  meta(property="og:image:type" content="image/png")
  meta(property="og:image:alt" content="Logo oficial - Devexteam")
  //- Open graph twitter
  meta(name="twitter:domain" content="devexteam.com")
  meta(name="twitter:title" content="Devexteam")
  meta(name="twitter:url" content="https://devexteam.com/")
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content="@devexteam")
  meta(name="twitter:creator" content="@devexteam")
  meta(name="twitter:description" content="Software, tecnología")
  //- Note: For large images the size should be: 280x150px and that the file size is not more than 1MB
  +imgMetaForOpenGraph("twitter:image", baseOpenGraphImage1200x640)
  //- disallow Twitter from using your site's info for personalization purposes
  meta(name="twitter:dnt" content="on")
