mixin headWPOTags()
  //- Prefetching, preloading, prebrowsing
  //- More info: https://cybmeta.com/precarga-de-recursos-en-wordpress
  //- More info: https://css-tricks.com/prefetching-preloading-prebrowsing/
  <link rel="dns-prefetch" href="//example.com/">
  <link rel="preconnect" href="https://www.example.com/">
  <link rel="prefetch" href="https://www.example.com/">
  <link rel="prerender" href="http://example.com/">
  //- <link rel="preload" href="image.png" as="image">
