include ./head-extra-tags
include ./head-google-tags
include ./head-human-tag
include ./head-microsoft-tags
include ./head-minimum-tags-php
include ./head-minimum-tags
include ./head-open-graph-tags
include ./head-robots-tags
include ./head-wpo-tags
