mixin ifIeLess9()
  <!--[if lt IE 9]>
    p.browsehappy
      span Nos está visitando con un #[strong navegador antiguo]. Para disfrutar este sitio que hemos preparado para ti, por favor descarga un navegador nuevo y mejor #[a(href="https://browsehappy.com/") aquí], gracias.
  <![endif]-->
