mixin nonscript()
  noscript
    div.nonscript
      span
        p Lo sentimos, pero esta aplicación no esta dispononible sin #[strong JavaScript] activado, le recomendamos reconfigurar su navegador.
