- const title               = (htmlWebpackPlugin.options.title || 'Default pug config title');
- const lang                = (htmlWebpackPlugin.options.lang || 'es-MX');
- const dir                 = (htmlWebpackPlugin.options.dir || 'ltr');
- const description         = (htmlWebpackPlugin.options.description || 'Default pug config description');
- const baseOpenGraphImage1200x1200  = '';
- const baseOpenGraphImage1200x640  = require('../../assets/img/dist/logos/opengraph-1200x640.png');
- const linkToHumansTXT     = require('../../humans.txt');
- const PRODUCTION          = htmlWebpackPlugin.options.PRODUCTION;
- const publicPath          = (htmlWebpackPlugin.options.publicPath || {root:'/', full: '/', startUrl: '/'});
- const google_verification_token = (htmlWebpackPlugin.options.google_verification_token|| '');
- const ga_traking_id = (htmlWebpackPlugin.options.ga_traking_id|| '');
- const _data = htmlWebpackPlugin.options.data || {};
