include ../config
  include ../mixins/mixins.pug
  //- Note: En un template es necesario colocar el doctype debido a que el pug-loader de webpack no lo asigna*
  <!DOCTYPE html>
  html(lang=lang dir=dir prefix="og: http://ogp.me/ns#")
    head
      +headMinimumTags(title, publicPath)
      +headMicrosoftTags()
      +headGoogleTags(google_verification_token, ga_traking_id)
      +headOpenGraphTags(publicPath, baseOpenGraphImage1200x1200, baseOpenGraphImage1200x640)
      +headExtraTags()
      +headHumanTag(linkToHumansTXT)
    body
      +nonscript()
      +ifIeLess9()
      block header
      block nav
      block main
      block footer
        script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
